* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 96vh;
    padding: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #333;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: rgb(221, 174, 240);
    font-size: 1em;
    font-weight: 900;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: rgb(221, 174, 240);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 340px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 60px;
}

.circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(221, 174, 240);
    clip-path: circle(700px at right 800px);
}

#submitBtn {
    color: #FFF;
    background: rgb(221, 174, 240);
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: rgb(221, 174, 240);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

input {
    border-radius: 10px;
}

@media (max-width: 991px) {
    header {
        padding: 20px;
    }
    header .logo {
        max-width: 60px;
    }
    header ul {
        display: none;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 11;
    }
    .toggle.active {
        position: fixed;
        right: 20px;
        background: url(cross.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    header ul.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #FFF;
        z-index: 10;
    }
    header ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }
    section {
        padding: 20px 20px 120px;
    }
    .content {
        flex-direction: column;
        margin-top: 100px;
    }
    .content .textBox {
        max-width: 100%;
    }
    .content .textBox h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .content .imgBox {
        width: 100%;
        justify-content: center;
    }
    .content .imgBox img {
        max-width: 250px;
    }
    .circle {
        clip-path: circle(400px at center bottom);
    }
    /*change*/
    .thumb li img {
        max-width: 20px;
    }
}